# gradle
.gradle/

# Ignorujemy cały folder build i wszystko w środku
build/

# Ale pozwól na pliki .jar w GŁÓWNYM folderze (root)
!/*.jar

# eclipse
*.launch

# idea
.idea/
*.iml
*.ipr
*.iws

# vscode
.settings/
.vscode/
bin/
.classpath
.project

# macos
*.DS_Store

# fabric / run
run/

# java
hs_err_*.log
replay_*.log
*.hprof
*.jfr