# gradle
.gradle/
build/*
!build/libs/

# Specyficzne ustawienia dla folderu z plikami .jar
build/libs/*
!build/libs/*.jar
build/libs/*-sources.jar

# eclipse
*.launch

# idea
.idea/
*.iml
*.ipr
*.iws

# vscode
.settings/
.vscode/
bin/
.classpath
.project

# macos
*.DS_Store

# fabric / run
run/

# java
hs_err_*.log
replay_*.log
*.hprof
*.jfr